@use '@angular/material' as mat;

$primary-palette-dark: (
	50: #f7f3f6,
	100: #e7dbe5,
	200: #d7c3d4,
	300: #c7abc3,
	400: #b792b2,
	500: #cbb6c7,
	// couleur principale dark
	600: #a38fa0,
	700: #7b6879,
	800: #534152,
	900: #2b1a2b,
	A100: #f3e6f7,
	A200: #e0b3ff,
	A400: #b266ff,
	A700: #8000ff,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: #000,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000,
		A200: #fff,
		A400: #fff,
		A700: #fff,
	),
);

$primary-dark: mat.define-palette($primary-palette-dark, 500);
