@use '@angular/material' as mat;

$secondary-palette-dark: (
	50: #f4f4f3,
	100: #e0e0de,
	200: #ccccca,
	300: #b8b8b6,
	400: #a4a4a2,
	500: #888b7e,
	600: #7a7c71,
	700: #6c6d63,
	800: #5e5e56,
	900: #505048,
	A100: #e0e0e0,
	A200: #bdbdbd,
	A400: #9e9e9e,
	A700: #616161,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: #000,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000,
		A200: #000,
		A400: #fff,
		A700: #fff,
	),
);

$secondary-dark: mat.define-palette($secondary-palette-dark, 500);
