<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Tab 2</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Tab 2</ion-title>
		</ion-toolbar>
	</ion-header>
	<form (ngSubmit)="submit()">
		<ie-input label="Day" [value]="command.dayCounter" type="number"></ie-input>
		<ie-input label="Night" [value]="command.nightCounter" type="number"></ie-input>
		<ie-input label="Production" [value]="command.productionCounter" type="number"></ie-input>
		<ie-input label="Car" [value]="command.carCounter" type="number"></ie-input>
		<ie-input label="Mois" [value]="command.month" type="number"></ie-input>
		<ie-select [options]="monthOptions" [selectedOption]="month()" [placeholder]="'Month'" />

		<ie-input label="Année" [value]="command.year" type="number"></ie-input>

		<button type="submit" [disabled]="!isFormValid()">Envoyer</button>
	</form>
</ion-content>
