<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Tab 2</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Tab 2</ion-title>
		</ion-toolbar>
	</ion-header>

	<ie-input
		[label]="'Day counter'"
		[placeholder]="'Day counter'"
		[type]="'number'"
		[(ngModel)]="command.dayCounter"
	/>

	<ie-input
		[label]="'Night counter'"
		[placeholder]="'Night counter'"
		[type]="'number'"
		[(ngModel)]="command.nightCounter"
	/>

	<div>
		<p>
			<strong>Nom:</strong>
			{{ command.dayCounter }}
		</p>
		<p>
			<strong>Âge:</strong>
			{{ command.dayCounter }}
		</p>
	</div>
</ion-content>
