:root {
	/* Couleurs principales */
	--ion-color-primary: #38182f;
	--ion-color-secondary: #b4b8ab;
	--ion-color-tertiary: #947eb0;
	--ion-color-success: #3f6c51;
	--ion-color-warning: #ffc409;
	--ion-color-danger: #db324d;
	--ion-color-dark: #222428;
	--ion-color-light: #f4f5f8;

	// --ion-background-color: #f3f3f3; // VS Code Light (doux)
	--ion-background-color: #fafafa; // Material
	// --ion-background-color: #f7f6f3; // Notion
}

/* Dark mode */
body.dark {
	--ion-color-primary: #96407f;
	--ion-color-secondary: #888b7e;
	--ion-color-tertiary: #b7a3d1;
	--ion-color-success: #6fcf97;
	--ion-color-warning: #ffe082;
	--ion-color-danger: #ff6f91;
	--ion-color-dark: #f4f5f8;
	--ion-color-light: #18171c;

	--ion-text-color: #fff;
	--ion-text-color-rgb: 255, 255, 255;

	--ion-background-color: #1e1e1e;
}

// Variables des couleurs Ionic disponibles
$ionic-colors: (
	primary: --ion-color-primary,
	secondary: --ion-color-secondary,
	tertiary: --ion-color-tertiary,
	success: --ion-color-success,
	warning: --ion-color-warning,
	danger: --ion-color-danger,
	dark: --ion-color-dark,
	light: --ion-color-light,
);

// Variables des niveaux de couleurs Ionic
$ionic-color-levels: (
	'base': '',
	'shade': '-shade',
	'tint': '-tint',
	'contrast': '-contrast',
);

// Variables des tailles de texte
$text-sizes: (
	'xsmall': 0.5rem,
	'small': 0.75rem,
	'base': 1rem,
	'large': 1.25rem,
	'xlarge': 1.5rem,
	'xxlarge': 2rem,
);
