<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Tab 3</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<ion-row>
		<ion-col size="12">
			<ie-toggle [label]="'Dark theme'" [checked]="darkMode" (checkedChange)="toggleDarkTheme($event)" />
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col size="12" class="ion-padding">
			<ie-button label="Export" color="primary" (click)="exportDb()" expand="block">Send</ie-button>
		</ion-col>
	</ion-row>
</ion-content>
