<ion-item>
	<ion-label position="floating" [class.ie-text-danger]="formControl.invalid && formControl.touched">
		{{ placeholder() }}
	</ion-label>
	<ion-select
		[formControl]="formControl"
		[disabled]="!options() || options().length === 0"
		interface="popover"
		[class.ie-text-danger]="formControl.invalid && formControl.touched"
	>
		@for (option of options(); track option) {
			<ion-select-option [value]="option.value">
				{{ option.label }}
			</ion-select-option>
		}
	</ion-select>
	@if (formControl.invalid && formControl.touched) {
		<div class="ie-text-danger ie-text-small">
			{{ getErrorMessage() }}
		</div>
	}
</ion-item>
