<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Tab 2</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<ie-form #form [model]="command">
		<ion-row>
			<ion-col size="12">
				<ie-input
					label="Day"
					[(value)]="command.dayCounter"
					[validators]="[command,'dayCounter']"
					type="number"
				/>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="12">
				<ie-input
					label="Night"
					[(value)]="command.nightCounter"
					[validators]="[command,'nightCounter']"
					type="number"
				/>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="12">
				<ie-input
					label="Production"
					[(value)]="command.productionCounter"
					[validators]="[command,'productionCounter']"
					type="number"
				/>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="12">
				<ie-input
					label="Car"
					[(value)]="command.carCounter"
					[validators]="[command,'carCounter']"
					type="number"
				/>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="12">
				<ie-select
					[options]="monthOptions"
					[(value)]="command.month"
					[validators]="[command,'month']"
					[placeholder]="'Month'"
				/>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="12">
				<ie-input label="Year" [(value)]="command.year" [validators]="[command,'year']" type="number" />
			</ion-col>
		</ion-row>
	</ie-form>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col size="12" class="ion-padding">
			<ie-button label="Send" color="primary" (click)="submit()" expand="block">Send</ie-button>
		</ion-col>
	</ion-row>
</ion-footer>
